.container {
    width: 100%;
    height: 100%;
    position: relative;
}
body {
    background-image: url(https://i.pinimg.com/originals/9e/e5/a8/9ee5a8649fe5793b265848fb3858da2b.jpg);
}
h2 {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    margin: 0px;
}
h1 {
    color: white;
    position: absolute;
    top: 300px;
    left: 650px;
    font-size: 40px;
}
h3 {
    color: white;
    position: absolute;
    top: 350px;
    left: 650px;
}
span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
}